-f /home/cal/.pip/wheelhouse/
aiodns==2.0.0
aiofiles==0.5.0
aiohttp==3.6.2
aiopg==1.0.0
aiosqlite==0.13.0
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
autoflake==1.3.1
Automat==20.2.0
bottle==0.12.18
brotlipy==0.7.0
cchardet==2.1.6
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
daphne==2.5.0
entrypoints==0.3
falcon==2.0.0
flake8==3.7.9
Flask==1.1.2
gevent==20.5.0
greenlet==0.4.15
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.5.5
httptools==0.1.1
httpx==0.9.3
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
meinheld==1.0.1
multidict==4.7.5
psycopg2==2.8.5
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
rfc3986==1.4.0
sanic==19.12.2
service-identity==18.1.0
six==1.14.0
sniffio==1.1.0
starlette==0.13.4
Twisted==20.3.0
txaio==20.4.1
ujson==2.0.3
uvicorn==0.11.7
uvloop==0.14.0
uWSGI==2.0.18
websockets==8.1
Werkzeug==1.0.1
yarl==1.4.2
zope.interface==5.1.0
